{% extends "core/base.html" %}

{% block title %}Playlist{% endblock %}
{% block content %}
{% load bootstrap %}
        {% if playlist %}
            <h1 class="page-header">Edit: {{playlist.name}}</h1>
        {% else %}
            <h1 class="page-header">New Playlist</h1>
        {% endif %}

    <form action="" method="POST" class="input_form">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button type="submit" class="btn btn-primary btn-block save_button">
            Save
        </button>

    </form>
{% endblock content %}






