{% extends "core/base.html" %}
{% block title %}Playlists{% endblock %}
{% block content %}
    {% if creator %}
        <h1 class="page-header">
            <a href="{{ creator.get_absolute_url }}">
                {{ creator.nickname }}
            </a>'s Playlists</h1>
    {% else %}
        <h1 class="page-header">Playlists</h1>
    {% endif %}
    <div class="row">
        <div class="col-md-3 pull-right">
            <a href="{% url 'playlists:playlist_new' %}">
                <button class="btn btn-primary">
                    Create New Playlist
                </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-0">
            <form class="form-inline" action="" method="get" id="filters">
                <div class="form-group">
                    {{ filter.form.as_p }}
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        Search
                    </button>
                </div>

            </form>

            <script LANGUAGE="JavaScript">
                function doReset(){
                    var _elements=document.getElementById("filters").elements,
                        _elementsLen=_elements.length,
                        _ei=null,
                        i=0;
                    for(;i<_elementsLen;i++){
                        _ei=_elements[i];
                        (_ei.type=="text"||_ei.type=="textarea")&&(_ei.value="");
                    }
                    window.location.href = '{% url 'playlists:playlist_list' uid=0 %}';
                }
            </script>
            <button class="btn btn-default" onClick="doReset()" style="margin-top: 10px;">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                Clear
            </button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Creator</th>
                <th>Release Time</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for playlist in filter.qs %}
                <tr>
                    <td>{{ playlist.playlist_name }}</td>
                    <td><a href="{{ playlist.creator.get_absolute_url }}">
                        {{ playlist.creator.nickname }}</a></td>
                    <td>{{ playlist.year_released }}</td>
                    <td>
                        <a href="{% url 'playlists:playlist_detail' id=playlist.pk %}">
                        <button class="btn btn-info">Detail</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
