{% extends "core/base.html" %}
{% block title %}Playlists{% endblock %}
{% block content %}
    {% if creator %}
        <h1 class="page-header">
            <a href="{{ creator.get_absolute_url }}">
                {{ creator.nickname }}
            </a>'s Playlists</h1>
    {% else %}
        <h1 class="page-header">Playlists</h1>
    {% endif %}
    <div class="row">
        <div class="col-md-3 pull-right">
            <a href="{% url 'playlists:playlist_edit' %}">
                <button class="btn btn-primary">
                    Create New Playlist
                </button>
            </a>
        </div>
    </div>

{% for playlist in playlists  %}
<p>
    <a href="{{ playlist.get_absolute_url }}">
        <li>{{ playlist.playlist_name }}</li>
    </a>
</p>
{% endfor %}
{% endblock content %}
