{% extends "core/base.html" %}
{% block title %}{{ albums.album_name }}{% endblock %}
{% block content %}
    <h1 class="page-header">{{ albums.album_name }}</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <li>
                <a href="{{album.get_absolute_url}}">
                {{ albums.album_name }}
                </a>
            </li>
            <li>
                {{albums.year_released}}
            </li>
        </div>
    </div>
{% endblock content %}
