{% extends "core/base.html" %}
{% block title %}{{ album.album_name }}{% endblock %}
{% block content %}
    <h1 class="page-header">{{ album.album_name }}</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <li>
                <a href="{{album.get_absolute_url}}">
                {{ album.album_name }}
                </a>
            </li>
            <li>
                {{album.year_released}}
            </li>
            <li>Song:</li>
            <ul>
            {% for song in songs %}
                <a href="{{ song.get_absolute_url }}" class="">
                    <li>{{ song.name }}</li>
                </a>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
