{% extends "core/base.html" %}

{% block title %}Song{% endblock %}
{% block content %}
    {% if song %}
        <h1 class="page-header">Edit: {{song.name}}</h1>
    {% else %}
        <h1 class="page-header">New Song</h1>
    {% endif %}

    <form action="" method="POST" class="input_form">
        {% csrf_token %}

        {% for field in form %}
            {% include "core/_form_input.html" %}
        {% endfor %}

        <button type="submit" class="btn btn-primary btn-block save_button">
            Save
        </button>

    </form>
{% endblock content %}  






