{% extends "core/base.html" %}

{% block content %}
{% load bootstrap %}

        {% if song %}
            <h1 class="page-header">Edit: {{song.name}}</h1>
        {% else %}
            <h1 class="page-header">New Song Rate</h1>
        {% endif %}

    <form action="" method="POST" class="input_form">
        {% csrf_token %}

        {{ form|bootstrap }}

        <button type="submit" class="btn btn-primary btn-block save_button">
            Rate
        </button>

    </form>
{% endblock content %}  






