{% extends "core/base.html" %}
{% block title %}User Follow List{% endblock %}
{% block content %}
    <h1 class="page-header">Users you follow</h1>
    <table class="table table-hover">
        {% if stars %}
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Detail</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for star in stars %}
                <tr>
                    <td>{{ star.nickname }}</td>
                    <td>
                        <a href="{{ star.get_absolute_url }}">
                        <button class="btn btn-info">Detail</button>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger">UnFollow</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        {% else %}
            <p>No Followers.</p>
        {% endif %}

        <hr>

    </table>
{% endblock content %}  












