{% extends "core/base.html" %}
{% block title %}User Follow List{% endblock %}
{% block content %}
    <h1 class="page-header">Users you follow</h1>
    <div>
    <table class="table table-hover">
        {% if stars %}
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Detail</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for star in stars %}
                <tr>
                    <td>{{ star.nickname }}</td>
                    <td>
                        <a href="{{ star.get_absolute_url }}">
                        <button class="btn btn-info">Detail</button>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="submit" id="unfollow">UnFollow</button>
                    </td>
                </tr>
                        <script>
        $(document).ready(function(){
            $.ajaxSetup({
            headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                    }
                });
            $("#unfollow").click(function(){
                $.post("{% url 'core:unfollow_user' %}", {
                    'userid':{{ user.pk }}
                },
                function(ret){
                     $.confirm({
                            title: 'Congratuation!',
                            content: 'Unfollow the user successfully!',
                            buttons: {
                                confirm: function () {
                                    $.alert('Confirmed!');
                                    window.location.reload();
                                }
                            }
                        });

                    }
                }
            )
            });
        });
    </script>
                {% endfor %}
            </tbody>

        {% else %}
            <p>No Followers.</p>
        {% endif %}

        <hr>


    </table>
    </div>


{% endblock content %}  












