{% extends "core/base.html" %}
{% load staticfiles %}
{% block title %}Music Library{% endblock %}
{% block content %}

    <h1 class="page-header">
        Music Library
    </h1>

{#    <div class="row">#}
{#        <div class="col-md-5 col-md-offset-4">#}
{#            <div class="input_form">#}
{#                <form action="{% url 'artists:artist_list' %}">#}
{#                    <label for="index-search" style="margin-bottom: 10px;">#}
{#                        Search Library#}
{#                    </label>#}
{#                    <input type="text" id="index-search" class="form-control" name="q" placeholder="Find an artist.">#}
{#                    <br>#}
{#                    <button type="submit" class="btn btn-primary btn-block">Submit</button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


    <hr>
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{% url 'artists:artist_list' %}">Artists</a>
                    <span class="badge pull-right">{{ newalbums }} new</span>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'albums:album_list' %}">Albums</a>
                    <span class="badge pull-right">{{ newartists }} new</span>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'playlists:playlist_list' uid=0 %}">Playlist</a>
                    <span class="badge pull-right">{{ newplaylists }} new</span>
                    {% if user %}
                        <span class="badge pull-right">{{ follow_playlists }} favorite</span>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <a href="{% url 'songs:song_list' %}">Songs</a>
                    <span class="badge pull-right">{{ newsongs }} new</span>
                    {% if user %}
                        <span class="badge pull-right">{{ like_songs }} favorite</span>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <a href="{% url 'core:follow_list' %}">Follows</a>
                    <span class="badge pull-right">{{ newusers }} new</span>
                </li>

            </ul>
        </div>
    </div>

{% endblock content %}